<div class="jumbotron-landing">
  <h1 class="display-6">Делитесь своими эмоциями</h1>
  <p class="lead">Размещайте свои фотографии и подписывайтесь на публикации ваших друзей</p>
  <hr class="my-4">  
  <p class="lead">
  	<%= link_to "Создать аккаунт", "#", :class => "btn btn-primary" %>
  	<%= link_to "Войти", "#", :class => "btn btn-primary" %>
  </p>
</div>